<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessibilityMakeTrusted</key>
	<true/>
	<key>HotKeysDictionary</key>
	<dict>
		<key>0</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>126</integer>
			<key>HotKeyModifiers</key>
			<integer>6144</integer>
			<key>HotKeyString</key>
			<string>Top</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>1</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>125</integer>
			<key>HotKeyModifiers</key>
			<integer>6144</integer>
			<key>HotKeyString</key>
			<string>Bottom</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>2</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>123</integer>
			<key>HotKeyModifiers</key>
			<integer>2304</integer>
			<key>HotKeyString</key>
			<string>Left</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>3</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>124</integer>
			<key>HotKeyModifiers</key>
			<integer>2304</integer>
			<key>HotKeyString</key>
			<string>Right</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>4</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>123</integer>
			<key>HotKeyModifiers</key>
			<integer>6400</integer>
			<key>HotKeyString</key>
			<string>Top Left</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>5</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>124</integer>
			<key>HotKeyModifiers</key>
			<integer>6400</integer>
			<key>HotKeyString</key>
			<string>Top Right</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>6</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>123</integer>
			<key>HotKeyModifiers</key>
			<integer>6144</integer>
			<key>HotKeyString</key>
			<string>Bottom Left</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>7</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>124</integer>
			<key>HotKeyModifiers</key>
			<integer>6144</integer>
			<key>HotKeyString</key>
			<string>Bottom Right</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>8</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>125</integer>
			<key>HotKeyModifiers</key>
			<integer>6400</integer>
			<key>HotKeyString</key>
			<string>Center</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
		<key>9</key>
		<dict>
			<key>HotKeyCode</key>
			<integer>126</integer>
			<key>HotKeyModifiers</key>
			<integer>6400</integer>
			<key>HotKeyString</key>
			<string>Maximize</string>
			<key>HotKeyEnabled</key>
			<true/>
		</dict>
	</dict>
	<key>LaunchAtStartup</key>
	<true/>
</dict>
</plist>
